*{
  box-sizing: border-box;
}

.home-page{
  width: 98.5vw;
  height: 100vw;
}
.background{
background-image: url("../images/beach.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: right;
height: 1277px;
}
.color{
  color: rgb(146, 98, 57);
}
.welcome{
  padding-top: 18vw;
  font-size: 80px;
  margin: 0 0 0 850px;
}
.centre{
  margin: 30px 0 0 500px;
}
.p{
  font-size: 40px;
}
.btn{
  margin: 30px 0 0 1100px;
  border-radius: 20px;
  border-color: rgb(146, 98, 57);
  font-size: 40px;
  padding: 30px;
}
.medium-size{
  font-size: 40px;
  padding: 30px;
}
.color-background{
  background-color:rgb(146, 98, 57) ;
}
.white-font{
  color:white
}
.width-vw{
  width: 98.5vw
}
.display{
  display: inline-block;
  width: 33.2%;
}